@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	color: #fff;

	background-color: #f69a2a;
	font-size: 20px;
}

p,
h1,
h2,
a {
	margin: 0;
	padding: 0;
}

.app {
	margin: 0 auto;
	max-width: 1550px;

	&__title {
		margin-top: 3rem;

		text-align: center;
	}
}

.todolist {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__toolbar {
		display: flex;
		gap: 0.4rem;
        background-color: #000;
        border-radius: 8px;
        padding: 1rem 0.7rem;

		> button {
			font-family: 'Montserrat';
			border: none;
			outline: none;
			background-color: #353535;
			padding: 1rem;
			border-radius: 5px;
			color: #fff;
			cursor: pointer;

			&:hover {
				transition: all 0.4s;
				background-color: #4f4f4f;
			}
		}
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
		gap: 0.8rem;
		margin-bottom: 2rem;
	}

	&__res-button {
		font-family: 'Montserrat';
		border: none;
		outline: none;
		background-color: #353535;
		padding: 1rem;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;

		&:hover {
			transition: all 0.4s;
			background-color: #4f4f4f;
		}
	}

	&__input {
		border: 1px solid #585858;
		padding: 1rem 0.7rem;
		font-family: 'Montserrat';
		border-radius: 10px;
		color: #000;
		font-size: 1rem;
		outline: none;
		background-color: #ffffff;

		width: 600px;

		&:focus {
			transition: all 0.4s;
			border: 1px solid #000;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 600px;
		justify-content: center;
		margin: 0 auto;
		margin-top: 3rem;

		&.even &-item:nth-child(even) {
			background: #01466c;
            color: #fff;
		}

		&.odd &-item:nth-child(odd) {
			background: #002538;
            color: #fff;
		}

        & .completed {
            background-color: green;
            color: #fff;
        }

		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.8rem;
			background-color: #e6e6e6;
			border-radius: 8px;
			padding: 1rem 0.7rem;
            color: #000;
		}

		&-text {
			font-size: 1.2rem;
		}

		&-close {
			cursor: pointer;
		}

		&-checkbox {
			cursor: pointer;
			position: relative;
			top: 3px;
		}
	}
}
